NEXT_PUBLIC_PRIVY_APP_ID_RSKTEST=cm...

NEXT_PUBLIC_ALCHEMY_RPC_RSKTEST=https://rootstock-testnet.g.alchemy.com/v2/rM...

NEXT_PUBLIC_TARGET_CHAINID=31

NEXT_PUBLIC_ENVIO_URL=http://localhost:8080/v1/graphql

NEXT_PUBLIC_PAYMENT_FACTORY_ADDRESS_31=0x0C8Fdf41AcF8D4027A537bECE5BCAa3434D92000
